*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
  
.leaflet-container .leaflet-control {
  margin-right: 10px;
  margin-bottom: 10px;
}

.direction-container {
  opacity: 0 !important;
  transition: opacity 0.5s ease-in-out !important;
}

.direction-container.show {
  opacity: 1 !important;
}
